@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	font-size: 16px;
	--headerHigh: 60px;
	--headerLeftMargin: 0;
	--paddingDlaTelefonow: 2em;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.btn {
	border: none;
	background: none;
}
.link {
	color: #222;
	text-decoration: none;
}
#home {
	position: absolute;
	top: 0;
	height: 0;
}
#about,
#products {
	position: relative;
	top: calc(var(--headerHigh) - var(--headerHigh) - var(--headerHigh));
}

.content__product {
	display: flex;
}
.content__product-image {
	width: min(100%, 450px);
	height: auto;
	border-radius: 50px;
}
