/* TEN KTO NIE PISZE KLAS W CSSIE, TEGO ZARA WYJEBIE Z BUTÓW
	 - LysyProgramista 2022
*/

/* HISTORIA COMMITOW: */

/* 
	@DaDocta
	Dalej kod
	@DaDocta
	Naprawiłęm to co popsute
	@DaDocta
	Pls działaj
	@DaDocta
	Więcej editow
	@DaDocta
	ok
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.content {
	margin-top: var(--headerHigh);
	margin-left: var(--headerLeftMargin);
	min-height: calc(100vh - var(--headerHigh));
}
.fullsite {
	font-family: 'Roboto', sans-serif;
	height: calc(100vh - var(--headerHigh));
	display: flex;
	justify-content: center;
	align-items: center;
	background: #002145 url('//unsplash.it/900') no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding: 0 2em;
}

.fullsite__text {
	font-size: 2.5em;
	transition: 0.8s;
	color: snow;
}
.fullsite__text--lighting {
	text-shadow: 0px 0px 40px white;
}
p {
	color: #222;
}
.content__authors {
	padding: 2em 4em;
	min-height: 500px;
	width: 100%;
	color: snow;
}
.content__header {
	color: #222;
	margin-bottom: 0.7em;
}
.content__author-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 3em;
}

.content__header {
	font-size: 2.1em;
}
.content__header--small {
	font-size: 1.5em;
	font-weight: 400;
}

.content__container {
	background-color: #f4f4f4;
	padding: 2em 4em;
}
.content__text {
	line-height: 150%;
}
.content__author-image {
	width: min(300px, 100%);
	border-radius: 50%;
	height: auto;
	margin-top: 1.5em;
	transform: translateX(125%);
	opacity: 0;
	transition: 0.8s cubic-bezier(0.46, -0.84, 0.59, 1.77);
}
.content__author {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.content__author-image--fadeIn {
	transform: translateX(0);
	opacity: 1;
}
.delay1 {
	transition-delay: 0.4s;
}
.delay2 {
	transition-delay: 0.8s;
}

@media (max-width: 1100px) {
	.fullsite__text {
		font-size: 2em;
		text-align: center;
	}
	.content__container {
		padding: 2em 2em;
	}
}

/* KASPRZYKA KOD */
/* main section:nth-child(1) {
	color: #fff;
}

main section:nth-child(2) {
	color: snow;
	background-color: snow;
}
main section:nth-child(3) {
	color: #fff;
}
main section:nth-child(4) {
	color: snow;
	background-color: snow;
}

main section .content-container {
	margin: 100px;
}

main section h1 {
	font-size: 100px;
	font-family: 'Roboto', sans-serif;
}

main section .content-container-card {
	display: flex;
}

main section .content-container-text-card {
	background: #053b75;
	margin: 20px;
	padding: 20px;
} */
